* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 65%;
}

.wrapper {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.box {
    margin-right: 10px;
    width: calc(100% / 3);
    background: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
    transition: 0.2s ease-in-out;
}

.box h2 {
    font-size: 20px;
    color: rgb(34, 31, 31);
    font-weight: 600;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.box ul {
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

.box ul li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    font-size: 17px;
    color: rgb(68, 68, 68);
    font-weight: 500;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}

.box ul li.list__item.todo {
    border-left: 3px solid red;
    border-right: 3px solid red;
}

.box ul li.list__item.doing {
    border-left: 4px solid yellow;
    border-right: 4px solid yellow;
}

.box ul li.list__item.completed {
    border-left: 4px solid green;
    border-right: 4px solid green;
}

.box ul li:hover {
    background: rgba(245, 241, 241, 0.1);
}

.box ul li button {
    cursor: pointer;
    position: relative;
    float: right;
    width: 20px;
    text-align: center;
    transition: 0.3s;
    outline: none;
    border: none;
    font-size: 17px;
    background: #fff;
}

.box ul li button#editBtn {
    margin-left: 10px;
    color: rgb(24, 160, 53);
}

.box ul li button#deleteBtn {
    margin-left: 10px;
    color: rgb(218, 27, 27);
}

.box ul li button ion-icon {
    z-index: 0;
}

.box ul li button:hover {
    float: right;
    width: 40px;
    text-align: center;
    background: #fff;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
}

.box .addnew-btn {
    margin-top: 10px;
    display: block;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
    text-transform: lowercase;
    border-radius: 5px;
    transition: 0.2s;
}

.box .addnew-btn.active {
    display: none;
}

.box .addnew-btn:hover {
    background: rgb(204, 201, 201);
}

.addnew-form {
    display: none;
    transition: 0.3s;
}

.addnew-form.open {
    display: block;
}

.addnew-form input {
    width: 100%;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-wrap: break-word;
}

.addnew-form .add-btn {
    margin-top: 15px;
    cursor: pointer;
    background: rgb(235, 73, 73);
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    font-family: sans-serif;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.addnew-form .add-btn:hover {
    background: rgb(226, 43, 43);
    transition: 0.3s;
}

.addnew-form span {
    cursor: pointer;
    margin-left: 20px;
    font-size: 23px;
    font-weight: bold;
    color: #666;
    font-family: sans-serif;
    transition: 0.3s;
}

.addnew-form span:hover {
    color: #333;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    position: relative;
    left: 40px;
    top: 30%;
    width: 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal__content .close-modal-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #333;
    transition: 0.2s;
}

.modal__content .close-modal-btn:hover {
    transform: rotate(360deg);
}

.modal__content form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.modal__content form input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    color: #333;
    background: rgb(229, 226, 226);
    border-radius: 3px;
}

.modal__content button {
    margin-top: 20px;
    width: 25%;
    padding: 6px;
    cursor: pointer;
    display: block;
    outline: none;
    border: none;
    border-radius: 3px;
    background: rgb(255, 26, 26);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
    z-index: 2;
}

.modal__content button:hover {
    background: rgb(206, 22, 22);
}

.modal__content button#exitDeleteBtn {
    margin-left: 20px;
    background: green;
}

.modal__content-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content .notification {
    display: none;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.modal__content .notification.success {
    display: block;
    color: rgb(9, 160, 9);
}

.modal__content .notification.fail {
    display: block;
    color: red;
}